.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: 'Aceh Light', sans-serif;
  color: #fff;
}

.counterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5rem;
  color: #fff;
  font-family: 'Aceh Light', sans-serif;
}

.text {
  font-size: 1.5rem;
  margin-top: 10px;
  text-transform: uppercase;
}

.number {
  position: relative;
  transform-style: preserve-3d;
  font-family: 'Aceh Light', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  color: black;
}

.numberContainer {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d7d7d7;
}
