.actorCard {
  position: relative;
  display: flex;
  flex-direction: column;
}

.actorInfo {
  margin-top: 3px;
}

.actorName {
  font-family: "Aceh Light", sans-serif;
  color: #333333;
  font-size: 1.2rem;
  font-weight: bold;
}

.actorCharacter {
  font-family: "Aceh Light", sans-serif;
  color: #333333;
  font-size: 1rem;
}

.actorImage {
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.actorImage:hover {
  transform: scale(1.05);
}
