.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.addBtn {
  /* Add button */
  border-radius: 3px;
  background-color: #6b6b6b;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 5px;
}

.addBtnText {
  /* Add button text */
  font-family: 'Aceh Light', sans-serif;
  font-size: 0.9rem;
  color: #ffffff;
  padding: 5px 7px;
}

.addBtn:hover {
  background-color: #ffb721;
}

.showCard {
  /* show card */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 280px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.showPoster {
  /* show poster */
  border-radius: 5px;
  margin: 0;
  padding: 0;
  transition: all ease-in 0.2s;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 245px;
  border-radius: 5px;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #ffc857;
  cursor: pointer;
}

.showCard:hover .overlay {
  opacity: 0.5;
}

.showDetails {
  display: flex;
  flex-direction: column;
}

.showTitle {
  /* show title */
  font-family: 'Aceh Light', sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 160px;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.showVote {
  font-family: 'Arial', sans-serif;
  font-size: 0.8rem;
}

@media only screen and (max-width: 900px) {
  .container {
    margin-bottom: 1rem;
  }

  .showCard {
    width: 90px;
    height: 170px;
  }

  .overlay {
    height: 145px;
  }

  .showTitle {
    width: 90px;
    font-size: 0.9rem;
  }
}
