/* Sections commodities */

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sections > * {
  border-bottom: #2d2d2d 7px solid;
}

.sections > *:last-child {
  border-bottom: none;
}

.sectionContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 0 15rem;
}

.sectionContentLeft {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 50%;
  height: 100%;
  padding: 0 5%;
}

.sectionContentRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 0 5%;
}

.title {
  font-family: "Aceh Light", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 2rem;
}

.description {
  font-family: "Aceh Light", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 2rem;
}

.previewVideo {
  transition: all 0.3s ease-in-out;
}

.previewVideo:hover {
  transform: scale(1.05);
}

@media (max-width: 950px) {
  .sectionContent {
    flex-direction: column;
    margin-top: 1rem;
    padding: 0;
  }

  .sectionContentLeft {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .sectionContentRight {
    width: 100%;
  }

  .title {
    font-size: 2.2rem;
  }

  .description {
    font-size: 1.3rem;
  }
}
