.container {
  padding: 1rem;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 165px);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 1rem;
  grid-auto-rows: 0;
  overflow-y: hidden;
}

.active {
  grid-auto-rows: auto !important;
}

.sectionTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1rem;
}

.showAll {
  font-family: 'Aceh Light', sans-serif;
  font-size: 1.1rem;
  color: #ffc857;
  text-decoration: none;
  cursor: pointer;
  transition: all ease-in 0.2s;
}

.showAll:hover {
  color: #ffa200;
  text-decoration: underline;
}

.sectionTitle {
  font-family: 'Aceh Light', sans-serif;
  font-size: 2rem;
  padding: 0;
}

.showList {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}
