.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15rem;
  background: transparent;
}

.brand {
  width: 250px;
  height: auto;
}

@media (max-width: 950px) {
  .navbar {
    padding: 1rem;
  }

  .brand {
    width: 150px;
    height: auto;
  }
}
