.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > a {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
}

.backgroundImg {
  filter: blur(8px);
}
